# ohitettavat tiedostot ja hakemistot
# files and directories to be ignored

# Build directories.
/build*/

# Vim swap files.
.*.swp

# Generated PDF files.
*.pdf

# Fortran modules
*.mod

# LaTeX temporary files
*.aux
